.customFooter {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerFiller {
    width:100%;
    height: 120px;
    background-color: #0099ff;
    padding-bottom: 2vh;
}

.socialBox {
    border-radius: 100%;
    border-width: 20px;
    border-color: black;
    margin-bottom: 0;
    width: 90px;
    height: 90px;
    background-color: #92e0fb;
}

.socialBox:hover { 
    background-color: rgb(255, 245, 158);
}

.socialBox:hover i.fas,
.socialBox:hover i.fab { 
    color: #0099ff;
}

.socialBox a {
    border-radius: 100%;
    text-decoration: none;
}

@media (max-width: 576px) {
    .socialBox {
        width: 70px;
        height: 70px;
    }
}

#footer{ clear:both; }