.navbar {
    transition: all 0.4s;
    background-color: #0099ff;
    z-index: 100;
    position: relative;
    width: 100%;
    text-shadow: 1px 1px #000000;
}

.navbar .nav-link {
    color: rgb(255, 255, 255);
    font-size:1.75rem;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: rgb(255, 236, 66);
    text-decoration: none;
}

.navbar .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.dropdown-menu {
    background-color: #3bb1ff;
    border-width: 0;
    border-color: black;
}

.dropdown-item {
    color:white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button {
    color: white;
}


@media (max-width: 330px) {
  .navbar .navbar-brand {
    font-size: 2rem;
  }
}
