/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* #0099ff */

body {
    background-color: #92e0fb;
    font-family: 'Lobster', cursive;;
}

p, h1, h2, h3, h4, h5 {
    color: white;
}


i.fas,
i.fab {
    color: white;
}

