/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* #0099ff */

body {
    background-color: #92e0fb;
    font-family: 'Lobster', cursive;;
}

p {
    color: white;
}

i.fas,
i.fab {
    color: white;
}

